$primary-color: #14DF10;
$standard-color: #57659A;
$secondary-color: #6495ED;
$button-color: #FA6F51;
$third-color: #677C64;
$rare-color: #D9C587;
$alert-color: #fa0000;
$aside-color: #C0C0C0;
$hover-color: #A0A0A0;
